{% extends "new_temp/sitelayout.html" %}
{% block maincontent %}
{% load static %}

{% load i18n %}
<li><a href="{% url 'account_email' %}">Change E-mail</a></li>
<div class="border-2 border-black w-full max-w-md mx-auto mt-4 p-5">
  <div class=" w-full text-center">
    {% block head_title %}{% trans "Change Password" %}{% endblock %}
    
  </div>
<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action">{% trans "Change Password" %}</button>
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>
</div>
{% endblock %}