{% extends "new_temp/sitelayout.html" %}
{% block maincontent %}
{% load static %}

{% load i18n %}
{% load account %}


<div class="border-2 border-black w-full max-w-md mx-auto mt-4 p-5">
  <div class=" w-full text-center">
    {% block head_title %}{% trans "Password Reset" %}{% endblock %}
    <div>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
    </div>
  </div>
  <div>
    <p>{% blocktrans %}We have sent you a link entered e-mail. You can reset your password on this link{% endblocktrans %}</p>
  </div>

</div>
{% endblock %}