{% extends "new_temp/dashboard/dashsitelayout.html" %}
{% block maincontent %}
{% load static %}
{% load humanize %}
{% load hitcount_tags %}
{% load formcss %}
<div >
    <div id="analysblog">
        <a href="{% url 'updateblog' object.slug %}">Update Blog Details</a>
        <a href="{% url 'editblogcontent' object.slug %}">Edit content</a>
        <a href="{% url 'manage_blog_seo' object.slug %}">Edit Meta data</a>
    </div>
 


    <h2>Title</h2>
    {{object.Blogtiltle |title}}
    <p>By {{object.Uploader.username}}</p>
    <hr>
    <h2>Last modified</h2>
    <p>{{object.modified|naturaltime}}</p>
    <h2>Created on</h2>
    {{object.created|naturaltime}}
    <hr>
    <h2>published: {{object.ReadyToShow}}</h2>
    <h2>Views : {{ hitcount.total_hits }}</h2>
    <h2>Likes : {{object.likes.count}}</h2>
    <h2>Dislike : {{object.Dislikes.count}}</h2>
    <hr>
    <h2>Discription</h2>
    <p>{{object.Discription}}</p>
    <h2>Conclusion</h2>
    <p>{{object.Conclusion}}</p>
    <hr>
    <h2>Meta Data</h2>
    
    <h3>Discription</h3>
    <p>{{object.Meta_discription}}</p>
    <h3>Keywords</h3>
    <p>{{object.Meta_keyworads}}</p>
</div>
<script>
    $('#analysblog').addClass('bg-gray-500 text-black font-semiblod');
    $('#analysblog a').addClass('border-b-2 block hover:bg-black hover:text-white');
</script>
{% endblock %}