<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{TITLE}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywoards}}">
    <link rel="shortcut icon" href="{% static 'outsrc/landingpage/images/favicon.png' %}" type="image/png">
</head>
<body class="font-sans bg-gray-200">
{% block headertemp %}
    {% include 'headerTemp.html' %}
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>