<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{TITLE}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywoards}}">
    <link rel="shortcut icon" href="{% static 'outsrc/landingpage/images/favicon.png' %}" type="image/png">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
{% block headertemp %}
    {% include 'headerTemp.html' %}
{% endblock %}

<div class="w-full bg-black ">
    <form action="" method="POST" enctype="multipart/form-data" class="w-full max-w-6xl m-auto ">
        {% csrf_token %}
        <div class="flex items-center">
              <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-1 px-8 rounded focus:outline-none focus:shadow-outline" type="submit">Post</button>
              <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-1 px-8 ml-5 rounded focus:outline-none focus:shadow-outline" type="submit">Save private</button>
        </div>
        
        <input type="text" name="Blogtiltle" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-2 leading-tight focus:outline-none focus:shadow-outline" placeholder="Title">
        
        <textarea id="myTextarea" name="UpBlog" rows="10" cols="80"></textarea>
    </form>
    <script src='https://cdn.tiny.cloud/1/1e7yw4ppc8h50q9mob5f2uzliwcm5zxd6lxmmc0y1hp02oma/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>
    <script>
         tinymce.init({
           selector: '#myTextarea',
           height: 400,
           plugins: 'lists, link, image, media',
           toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist forecolor backcolor | link | removeformat ',
           menubar: false
         });
    </script>
</div>

</body>
</html>