<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit yout blog</title>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script> 
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <style type="text/css">
    body,div,ul,li,img,a,p,h1,h2,h3,h4,h5,h6,input {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .B3 {
        width:100%;
        height: 100%;
    }
    .B3 form {
        width:100%;
        height: 100%;
    }
    .B3 form input, .B3 form label {
        display:block;
    }
    </style>
</head>
<body>


<p style="font-size: 25px; font-weight:600; margin:5px;">Blog Editor</p>

<div class="B3">
        <form enctype="multipart/form-data" method="POST" novalidate>
        {% csrf_token %}
        {{form.media}}
        {{form}}
        <input type="submit" value="create">
    </form>
</div>

</body>
</html>
