<!DOCTYPE HTML>
<html lang="en">
<head>
    {% load static %}
    {% load humanize %}
    <meta charset="UTF-8">
    <title>{{TITLE}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywoards}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'outsrc/landingpage/images/favicon.png' %}" type="image/png">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--local css start-->
    <!--end local css-->
</head>
<body>
    <!-- component -->
<div class="h-screen w-full flex overflow-hidden">
	<nav class="flex flex-col bg-gray-200 dark:bg-gray-900 md:block md:w-64 px-4 pt-4 pb-6 hidden" id="sidebar">
		<!-- SideNavBar -->
        {% block sidebar %}
            {% include 'new_temp/dashboard/sidebar.html' %}
        {% endblock %}
	</nav>
	<div id="maincontent" class="flex-1 overflow-y-auto">
		<header class="sticky top-0">
            <!--navbar-->
            {% block navbar %}
                {% include 'new_temp/dashboard/navbar.html' %}
            {% endblock %}
		</header>
		<main  class="">
			<!--start development heree-->
            {% block maincontent %}
            {% endblock %}
			<!--stop development here-->
		</main>
	</div>
</div>
<!--local script start-->
 
<script type = "text/javascript" language = "javascript" src="{% static 'js/sidebarscript.js' %}"></script>
<script>
$('form button').addClass('mr-5 mt-2 bg-green-500 hover:bg-orange-700 text-white font-bold py-1 px-8 rounded focus:outline-none focus:shadow-outline');
$('form input').addClass('shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-2 leading-tight focus:outline-none focus:shadow-outline');
$('form label').addClass('block mt-2');
$('form textarea').addClass('border-2 border-black p-2');
$('form select').addClass('bg-white border-2 border-orange-500 w-full py-2 px-3 text-gray-700 rounded');
$('#sidenav_ullist li').addClass('text-black rounded-sm px-3 py-1 hover:bg-gray-500');
</script>

<!--end local script -->
</body>
</html>