{% extends "new_temp/sitelayout.html" %}
{% block maincontent %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="w-full bg-black p-5">
    <form id="editblog-form" method="POST" enctype="multipart/form-data" class="w-full max-w-6xl m-auto ">
        {% csrf_token %}
        <div class="flex items-center">
              <button  type="submit">Save</button>
              <button  type="reset">Undo all</button>
              <button  type="button" onclick="goBack()">Close</button>
        </div>
        
        <input id="blog_blogtitle" type="text" name="Blogtiltle" class="mb-3 font-bold text-2xl" placeholder="Title" value="{{object.Blogtiltle}}">
        
        <textarea id="myTextarea" name="UpBlog" rows="10" cols="80">{{object.UpBlog |safe }}</textarea>
    </form>
    

</div>
<script>
    function goBack() {
      window.history.back()
    }
</script>
<script src='https://cdn.tiny.cloud/1/1e7yw4ppc8h50q9mob5f2uzliwcm5zxd6lxmmc0y1hp02oma/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>
<script>
$(document).ready(function() {
    tinymce.PluginManager.add('my-example-plugin', function (editor) {
    editor.ui.registry.addMenuItem('image', {
      icon: 'image',
      text: 'Image',
      onAction: function () {
        console.log('context menu clicked');
        alert('context menu clicked');
      }
    });
  
    editor.ui.registry.addContextMenu('image', {
        update: function (element) {
            return !element.src ? '' : 'image';
        }
        });
    });
  
    tinymce.init({
        selector: '#myTextarea',
        height: 400,
        toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist forecolor backcolor | link | removeformat ',
        menubar: false,
        paste_as_text: true,
        contextmenu: 'image',
        plugins: 'my-example-plugin',
    });
});
</script>


{% endblock %}