{% extends "new_temp/form/FormLayout.html" %}
{% block maincontent %}
{% load static %}

<div class="py-2">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
            <div class="p-6 bg-white border-b border-gray-200">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-4">
                    {{form}}
                    </div>
                    <div class="flex p-1 justify-between w-72">
                        <button type="reset" class="p-3 bg-blue-500 text-white hover:bg-blue-400">Undo all changes</button>
                        <button type="submit" class="p-3 bg-blue-500 text-white hover:bg-blue-400">Save</button>
                        <a href="{% url 'home' %}" class="p-3 bg-blue-500 text-white hover:bg-blue-400">Close</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}