{% extends "new_temp/dashboard/dashsitelayout.html" %}
{% block maincontent %}
{% load static %}
{% load formcss %}
<div class="w-full max-w-lg mt-4 m-auto">
    <form action="" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" enctype="multipart/form-data">
        <p class="text-3xl subpixel-antialiased font-semibold text-center">{{TITLE}}</p>
        {% csrf_token %}
        {{form}}
        <div class="flex items-center ">
            <button type="submit">{{submit_button_name}}</button>
        </div>
    </form>

</div>

{% block footer_line%}
{% include "new_temp/temp/footerline.html" %}
{% endblock %}
{% endblock %}